@page "/"
@using CommunityEventPlanner.Shared
@using CommunityEventPlanner.Shared.Contract
@using CommunityEventPlanner.UI.Services.Interface
@inject ICommunityEventService CommunityEventService

<PageTitle>Community Events</PageTitle>

<h1>Community Events</h1>

@if (communityEvents == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Summary</th>
                <th>Start Date</th>
                <th>EndDate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in communityEvents)
            {
                <tr>
                    <td>@forecast.Name</td>
                    <td>@forecast.Summary</td>
                    <td>@forecast.StartDate.ToLongDateString()</td>
                    <td>@forecast.EndDate?.ToLongDateString() </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<CommunityEvent> communityEvents = new List<CommunityEvent>();

    protected override async Task OnInitializedAsync()
    {
        var communityEventsResult = await CommunityEventService.GetCommunityEventsAsync();

        communityEvents = communityEventsResult?.ToList() ?? new List<CommunityEvent>();
    }
}
